[submodule "mediawiki-rygwiki/mediawiki-extensions-PluggableAuth"]
	path = mediawiki-rygwiki/mediawiki-extensions-PluggableAuth
	url = https://github.com/wikimedia/mediawiki-extensions-PluggableAuth
[submodule "mediawiki-rygwiki/mediawiki-extensions-OpenIDConnect"]
	path = mediawiki-rygwiki/mediawiki-extensions-OpenIDConnect
	url = https://github.com/wikimedia/mediawiki-extensions-OpenIDConnect
[submodule "mediawiki-rygwiki/FontAwesome"]
	path = mediawiki-rygwiki/mediawiki-extensions-FontAwesome
	url = https://github.com/ProfessionalWiki/FontAwesome
[submodule "mediawiki-rygwiki/mediawiki-skins-Bluelib"]
	path = mediawiki-rygwiki/mediawiki-skins-Bluelib
	url = https://github.com/Steffo99/mediawiki-skins-Bluelib.git
